[Unit]
Description=Wolfpack (pi) - {{ wolf_name }}
After=network-online.target tailscaled.service
Wants=network-online.target

[Service]
Type=forking
User={{ wolf_user }}
WorkingDirectory={{ pi_den_dir }}
Environment=HOME=/home/{{ wolf_user }}
Environment=PI_CODING_AGENT_DIR={{ pi_config_dir }}
Environment=PATH=/home/{{ wolf_user }}/.bun/bin:/home/{{ wolf_user }}/.local/bin:/usr/local/bin:/usr/bin:/bin
Environment=TELEGRAM_BOT_TOKEN={{ telegram_bot_token }}
EnvironmentFile=-{{ pi_env_file }}
ExecStart=/home/{{ wolf_user }}/.local/bin/pi-wolf-run-{{ wolf_name }}.sh
ExecStop={{ pi_tmux_cmd }} kill-session -t {{ wolf_name }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
